.menu{
    border:1px solid;
    background-color: #00ffff;
    display: flex;
    list-style: none;
}
.item-menu{
    border: 1px solid #0000ff;
    background-color: #FF0000;
    transition: opacity 1.3s;
    padding-top: 10px;
    padding-bottom: 10px;

}
.item-menu:hover{
    opacity: 0.7;
}
.link-item-menu{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 40px;
    
}